
           <div class="home-section-background" data-stellar-background-ratio="0.6">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="header-text">
                                    <p>Hi! This is Yi Ting Chen</p>
                                    <h2><span class="typing"></span></h2>
                                    
                                    <div class="margin-top-60">
                          <a class="button button-style button-style-icon fa fa-long-arrow-right smoth-scroll" href="#portfolio">View Portfolio</a>
                                  </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    
    <!-- About Start -->
    <section id="about" class="about-section">
         <div class="row">
               
              <div class="col-md-6 col-sm-12 col-xs-12">
                <img class="img-responsive" src="images/bg/me.jpg" draggable="false" alt="">
              </div>
                
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-me section-space-padding">
                  
                  <h2>About Me.</h2>
                  
                  <p>My name is Yi Ting Chen. I am a UX/UI designer from Taipei, Taiwan. I enjoy designing websites and mobile apps. I also love exploring new technologies and trying them out. When I am not designing, you will find me at home playing video games or in the gym playing basketball.  </p>
                 </div>
             
              </div>
                
          </div>
       </section>
       <!-- About End -->

    
<!--     Portfolio Start
    <section id="portfolio" class="portfolio section-space-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>My Portfolio.</h2>
                        <p>The following are my portfolio pieces from University of Miami</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <ul class="portfolio">
                    <li class="filter" data-filter="all">all</li>
                    <li class="filter" data-filter=".apps">Design</li>
                    <li class="filter" data-filter=".mockups">Animation</li>
                    <li class="filter" data-filter=".wordpress">Game</li>
                </ul>
            </div>
            {{{content}}}
    
        </div>
     
     </section>
    Portfolio End -->
    
    
    
     <!-- Testimonial Start -->
  
    <!-- Testimonial End -->
    
    
    
      <!-- statistics -->
      <section class="statistics-section section-space-padding bg-cover text-center" data-stellar-background-ratio="0.3">
          <div class="row word">FEATURED SOFTWARES</div>
          <div class="row word1">These are the softwares I used<br>這些是我所使用的程式</div>
          <div class="container">     
           
            <div class="row">
             <div class="statistics-center">  <!-- This code will work at max-width: 767px -->

           <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><img src="images/favicon/1.png">
              </div>
              <div class="statistics-content">
                <h5><span data-count="100" class="statistics-count">100</span></h5><span>Sketch Design</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><img src="images/favicon/2.png">
              </div>
              <div class="statistics-content">
                <h5> <span data-count="95" class="statistics-count">95</span></h5><span>Adobe Illustrator</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><img src="images/favicon/3.png">
              </div>
              <div class="statistics-content">
                <h5><span data-count="85" class="statistics-count">85</span></h5><span>Adobe Photoshop</span>
              </div>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><img src="images/favicon/4.png">
              </div>
              <div class="statistics-content">
                <h5><span data-count="100" class="statistics-count">100</span></h5><span>AutoDesk Smoke</span>
              </div>
            </div>
            </div>
            
          <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><img src="images/favicon/5.png">
              </div>
              <div class="statistics-content">
                <h5><span data-count="90" class="statistics-count">90</span></h5><span>AutoDesk Maya</span>
              </div>
            </div>
            </div>
            
        <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><img src="images/favicon/6.png">
              </div>
              <div class="statistics-content">
                <h5><span data-count="100" class="statistics-count">100</span></h5><span>Invision</span>
              </div>
            </div>
            </div>
            
        <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><img src="images/favicon/7.png">
              </div>
              <div class="statistics-content">
                <h5><span data-count="60" class="statistics-count">60</span></h5><span>Unity</span>
              </div>
            </div>
            </div>
        
        <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><img src="images/favicon/8.png">
              </div>
              <div class="statistics-content">
                <h5><span data-count="85" class="statistics-count">85</span></h5><span>Adobe Aftereffects</span>
              </div>
            </div>
            </div>
           </div>
         </div>
       </div>
    </section>
    <!-- statistics end -->

    
    
    
    <!-- Services Start -->
    <section id="services" class="services-section section-space-padding">
        <div class="container">
           <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Programming Languages</h2>
                        <p>I have Learned the following languages<br>我會使用一下編程語言</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
            
            <div class="col-md-4 col-sm-6">
				<div class="services-detail">
					<img class="imgsize" src="images/favicon/10.png">
					<h3>NodeJS</h3>
					<hr>
					<p>To build websites with back-end databases.<br>我運用NodeJS建立網站和數據庫</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="services-detail">
					<img class="imgsize" src="images/favicon/11.png">
					<h3>P5js</h3>
					<hr>
					<p>I used P5js to do animation on the website<br>我用它製作網頁動畫</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="services-detail">
					<img class="imgsize" src="images/favicon/12.png">
					<h3>HTML5</h3>
					<hr>
					<p>A neccessary language to build a website.<br>要建造網站，這是必須學習的語言</p>
				</div>
			</div>
            
            <div class="col-md-4 col-sm-6">
				<div class="services-detail">
					<img class="imgsize" src="images/favicon/13.png">
					<h3>swift</h3>
					<hr>
					<p>I learnd swift language to build IOS app.<br>我運用swift語言寫IOS程式</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="services-detail">
					<img class="imgsize" src="images/favicon/14.png">
					<h3>JAVA</h3>
					<hr>
					<p>I used JAVA to build Unity Game.<br>我用JAVA製作Unity遊戲</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="services-detail">
					<i class="fa fa-ge color-6"></i>
					<h3>Python</h3>
					<hr>
					<p>I used Python to draw computational pattern.<br>我用python畫一些圖形</p>
				</div>
			</div>
            
            </div>
        </div>
    </section>
    <!-- Services End -->
    

       
       
       
       
    <!-- Contact Start -->
    <section id="contact" class="contact-us section-space-padding">
       <div class="container">
          <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Contact Me.</h2>
                        <p>Email: jeffreychen666@hotmail.com</p>
                    </div>
                </div>
            </div>
            
            
         
           
        
        </div>
      
       
      <div class="margin-top-80"> 
       <ul class="social-icon">
         <li><a href="https://www.facebook.com/YiTingJeffrey" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
         <li><a href="https://twitter.com/YiTingChen2?lang=zh-tw" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
         <li><a href="https://github.com/YiTingChenJeffrey" target="_blank" class="google-plus"><i class="fa fa-github"></i></a></li>
         <li><a href="https://www.instagram.com/chenyitingjeffrey/?hl=zh-tw" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a></li>
         <li><a href="https://www.linkedin.com/in/yitingchen1/" target="_blank" class="dribbble"><i class="fa fa-linkedin"></i></a></li>
       </ul>
      </div>
       
     </section>
     <!-- Contact End -->
       
        
        
  
  
  
 
               
                
                 
                  
                   
                    
    


